@model Graffo.Core.DTO.QuantidadeDeCartoesPorLista

@{
    ViewBag.Title = "Index";
}


<div ng-app="myapp">
    <div ng-controller="myctrl">
        <div class="span12">
            <button class="btn btn-default" ng-click="loadChart()">Carregar Gráfico</button>
        </div>
        <br/>
        <div class="row">

            <div id="container"></div>

            <highchart id="chart1" config="chartConfig" class="span10"></highchart>
        </div>
    </div>
</div>

<script>
    
    var myapp = angular.module('myapp', ["highcharts-ng"]);

    myapp.controller('myctrl', function ($scope, $http) {
        $scope.series = {};
        $scope.categories = {};

        $scope.loadChart = function (item, event) {
            $scope.chartConfig.loading = true;
            var response = $http.get("home/loadchart");

            response.success(function(data, status, headers, config) {
                $scope.chartConfig.xAxis.categories = data.categories;
                $scope.chartConfig.series = data.Series;
                $scope.chartConfig.title.text = data.Title;
                $scope.chartConfig.loading = false;
            });
            response.error(function(data, status, headers, config) {
                alert("AJAX failed!");
                $scope.chartConfig.loading = false;
            });
        };

        $scope.chartConfig = {
            options: {
                chart: {
                    type: 'area',
                    zoomType: 'x'
                },
                plotOptions: {
                    area: {
                        stacking: 'normal',
                        lineColor: '#666666',
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            lineColor: '#666666'
                        }
                    }
                }
            },
            series: [
                {
                    data: []
                }
            ],
            title: {
                text: 'Gráfico'
            },
            xAxis: {
                categories: [],
                tickmarkPlacement: 'on'
            },
            loading: false
        };
    });
        
</script>
