<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNet.Highcharts" version="4.0" targetFramework="net45" />
  <package id="Manatee.Json" version="2.5.1" targetFramework="net45" />
  <package id="Manatee.StateMachine" version="1.1" targetFramework="net45" />
  <package id="Manatee.Trello" version="0.6.9" targetFramework="net45" />
  <package id="Manatee.Trello.ManateeJson" version="1.1.0" targetFramework="net45" />
</packages>